    <div class="container" id="container">
        <div class="row bottom">
            <div class="col-lg-8 col-md-8 col-sm-7 col-left">
                <div>
                    <section>
                        <div class="row text-center">
                            <div class="col-lg-12">
                                
                                <!--activity image-->
                                <%= image_tag("image-home-2.jpg", alt: "Home Header Image", class: "img-responsive") %>
                                
                                <!--activity title -->
                                <h1 class="text-success"><%= t ".construction" %></h1>
                                <h1><%= t ".hello" %></h1>
                                <h1 class="spacer">___</h1>
                                
                                <!--activity descritpion-->
                                <p class="work"><%= t ".title" %></p>
                                <p><%= t ".intro" %></p>
                            
                            </div>
                        </div>   
                    </section>
                </div>
            </div>
            <%= render 'layouts/worklist' %>
        </div>                        
    </div>  
            