<div class="row top">
    <div class="col-lg-8 col-md-8 col-sm-7 col-left">
        <div class="name"><%= link_to "Eungjin Lee", home_path %></a></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-right">
        <nav>
            <ul class="list-inline" id="menu">
                <li>
                    <%= link_to "work", work_path %></a>
                </li>
                <li>
                    <%= link_to "blog", blog_path %></a>
                </li>
                <li>
                    <%= link_to "contact", contact_path %></a>
                </li>
                <li class="last">
                    <%= link_to image_tag("icon-facebook.png", alt: "fb", class: "social"),'http://www.twitter.com/oiojin831' %>
                    <%= link_to image_tag("icon-twitter.png", alt: "tw", class: "social"),'http://www.twitter.com/oiojin831' %>
                </li>
            </ul>
        </nav>
    </div>
</div>